Host bastion
    HostName 192.168.56.118

Host maj_lin
    HostName 10.0.1.7
    ProxyJump bastion

Host syslog
    HostName 10.0.1.9
    ProxyJump bastion

Host *
  User ansible
  # IdentityFile deploy_ed25519
  IdentitiesOnly yes
  # StrictHostKeyChecking no
  # GlobalKnownHostsFile /dev/null
  # UserKnownHostsFile /dev/null
