Host MGL_BAS
    User d
    HostName 192.168.56.125

Host MGL_BAS_PROXY
    User d
    HostName 192.168.56.125

Host MGL_LOG
    User d
    HostName 192.168.56.126
    # ProxyJump MGL_BASTION_PROXY

Host *
  User ansible
  # IdentityFile deploy_ed25519
  IdentitiesOnly yes
  # StrictHostKeyChecking no
  # GlobalKnownHostsFile /dev/null
  # UserKnownHostsFile /dev/null
