# {{ file_header }}

# log insmod, rmmod, and modprobe
-w /sbin/insmod -p x
-w /sbin/modprobe -p x
-w /sbin/rmmod -p x
-w /etc/passwd -p wa -k user-modify

# log edition in /etc/
-w /etc/ -p wa

# monitor mount and umount command
-a exit ,always -S mount -S umount2

# x86 syscalls
-a exit ,always -S ioperm -S modify_ldt

# syscalls that should be rare
-a exit ,always -S get_kernel_syms -S ptrace
-a exit ,always -S prctl

# Monitor the creation and removal of file, this can have a big impact on
# system perfs
-a exit ,always -F arch=b64 -S unlink -S rmdir -S rename
-a exit ,always -F arch=b64 -S creat -S open -S openat -F exit=-EACCESS
-a exit ,always -F arch=b64 -S truncate -S ftruncate -F exit=-EACCESS

# Monitor the creation of new process
-a exit ,always -F arch=b64 -S execve ,execveat

-w /etc/group -p wa -k identity
-w /etc/passwd -p wa -k identity
-w /etc/gshadow -p wa -k identity
-w /etc/shadow -p wa -k identity
-w /etc/security/opasswd -p wa -k identity

# Lock auditd config, need restart to take effect
-e 2
