{{ ansible_managed | comment }}
# DNS app layer event rules
#
# SID's fall in the 2240000-2240999 range. See https://redmine.openinfosecfoundation.org/projects/suricata/wiki/AppLayer
#
# These sigs fire at most once per connection.
#
# TODO Doesn't work for some reason
# alert dns any any -> any any (msg:"DNS LOOKUP for example.com"; dns.query; content:"example.com"; nocase; sid:2240100;)
# alert dns any any -> any any (msg:"Loopback DNS response"; content:"|7F 00 00 01|"; sid:2240101;)
