# {{ ansible_managed }}
#
# This file configure remote logging
#

*.* action(\
	type="omfwd"\
	target="{{ rsyslog_server_host }}"\
	port="{{ rsyslog_server_port }}"\
	protocol="{{ rsyslog_server_proto }}"\
	action.resumeRetryCount="100"\
	queue.type="LinkedList"\
	queue.size="1000")
