# {{ ansible_managed }}
#
# /etc/sysctl.conf - Configuration file for setting system variables
# See /etc/sysctl.d/ for additional system variables.
# See sysctl.conf (5) for information.
#

# kernel.domainname = example.com

# kernel.modules_disabled = 1  # can break apps, including UFW

# Old CIS guide
# net.ipv6.conf.all.router_solicitations = 0
# net.ipv6.conf.default.router_solicitations = 0
# net.ipv6.conf.all.accept_ra_rtr_pref = 0
# net.ipv6.conf.default.accept_ra_rtr_pref = 0
# net.ipv6.conf.all.accept_ra_pinfo = 0
# net.ipv6.conf.default.accept_ra_pinfo = 0
# net.ipv6.conf.all.accept_ra_defrtr = 0
# net.ipv6.conf.default.accept_ra_defrtr = 0
# net.ipv6.conf.all.autoconf = 0
# net.ipv6.conf.default.autoconf = 0
# net.ipv6.conf.all.max_addresses = 1
# net.ipv6.conf.default.max_addresses = 1
# vm.mmap_min_addr = 65536
# kernel.yama.ptrace_scope = 1
# net.core.bpf_jit_harden = 2
