{{ ansible_managed | comment }}
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#

# Defaults	noexec  # breaks Ansible
Defaults	requiretty
Defaults	use_pty
Defaults	umask=0027
Defaults	ignore_dot
Defaults	passwd_timeout=1
Defaults	env_reset, timestamp_timeout=15
Defaults	timestamp_timeout=15
Defaults	env_reset
Defaults	mail_badpass
Defaults	logfile="/var/log/sudo.log"
Defaults	secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin"

# Host alias specification

# User alias specification

# Cmnd alias specification

# User privilege specification
root	ALL=(ALL:ALL) ALL

# Allow members of group sudo to execute any command
%sudo	ALL=(ALL:ALL) ALL

# See sudoers(5) for more information on "@include" directives:

@includedir /etc/sudoers.d
