You should generate your password and store it with a password manager.

* Password must be {{ pam_pwquality_minlen }} or longer
* At least one uppercase letter
* At least one lowercase letter
* At least one digit
* At least one special character
* No username in any form
* No consecutive character longer than {{ pam_pwquality_maxrepeat }}
* No words from the GECOS field
* Must be different from the last {{ pam_pwhistory_remember }} used
{% if pam_pwquality_badwords %}
* None of the following words: {{ pam_pwquality_badwords | join(" ") }}
{% endif %}

Note that you will need to change your password every {{ pass_max_days }} days.
